<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File upload</title>
  </head>
  <body>
    <h3>Single File Upload</h3>
    <form action="/single" method="post" enctype="multipart/form-data">
      <input
        type="file"
        name="sFile"
        id=""
        required
        accept="image/jpeg, image/png, image/svg+xml, application/pdf"
      />
      <input type="submit" value="Upload" />
    </form>
    <h3>Multiple File Upload</h3>
    <form action="/multiple" method="post" enctype="multipart/form-data">
      <input
        type="file"
        name="mFile"
        id=""
        required
        accept="image/jpeg, image/png, image/svg+xml, application/pdf"
        multiple
      />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
